.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 25px 25px;
  border-radius: 10px;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-box h2 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 26px;
  color: var(--clr-primary-20);
}

.user-box {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    width: 90%;
    padding: 14px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
    transition: border-color 0.3s;
    resize: vertical;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: var(--clr-primary-20);
  }

}

.rating-box {
  align-items: center;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }
}

.msg-error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  width: 90%;
  text-align: left;
}

.side-boxes-login {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  button {
    margin: 0 10px;
  }
}

.button-primary-Recensione {
  width: 180px;
  height: 50px;
  border: solid var(--clr-primary-20) 5px;
  border-radius: 10px;
  color: var(--clr-primary-20) !important;
  background-color: var(--clr-primary-40);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
  transition: box-shadow 0.3s ease, transform 0.2s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 6px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
    transform: translateY(-2px);
    text-decoration: none !important;
  }
}