.dettagli-card {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  width: 95%;
  background-color: var(--clr-primary-40);
  border: 1px solid #e5e5e5;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  padding: 2rem;
  margin: -2rem auto;
}

.photo-container {
  height: 60px;
  width: 95%;
  background-color: var(--clr-primary-20);
  border: 1px solid #e5e5e5;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: left;
  margin: 2rem auto;
}

.photo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.photo-container strong {
  font-size: 1.6rem;
  color: #fff;
}

.profile-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: left;
}

.info-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 1rem auto;
}

.info-block {
  flex: 1;
  max-width: 450px;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 8px;
}

.info-block h3 {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  color: #333;
}

.info-block p {
  margin: 0.5rem 0;
  font-size: 1.05rem;
}

.vet-section {
  margin-top: 2rem;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: none;
  border: 1px solid #ddd;
}

.vet-header {
  background: transparent;
  color: var(--clr-primary-20);
  padding: 0;
  margin-bottom: 0.5rem;
}

.vet-header h3 {
  margin: 0;
  font-size: 1.1rem;
  color: var(--clr-primary-20);
}

.vet-content h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--clr-primary-20);
}

.vet-content p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.vet-content.button {
  display: flex;
  justify-content: flex-end;
}

.mappa-container {
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

button {
  background-color: var(--clr-primary-20);
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: none;
}
