.form > * {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linking-code {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

.linking-code > input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form .buttons {
  display: flex;
  gap: 8px;

  button {
    padding: 10px;
    min-width: 80px;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  :nth-child(1) {
    background-color: var(--clr-primary-500);
  }

  :nth-child(2) {
    color: white;
    background-color: var(--clr-primary-20);
  }
}