.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: fit-content;
  padding: 25px 0;
}

.form > .title {
  margin-bottom: 0;
  padding: 0 10px;

  @media (max-width: 1000px) {
    font-size: 40px;
  }

  @media (max-width: 568px) {
    font-size: 32px;
  }
}

.linking-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 12px 0;
  width:100%;

  .linking-code p {
    margin-bottom: 8px;
  }

  @media (max-width: 768px) {
    
  }
}

.linking-code .code {
  display: flex;
  gap: 8px;
  @media (max-width: 768px) {
    gap: 4px
  }
  @media (max-width: 480px) {
    gap: 2px;
  }
}

.msg-error {
    color: red;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    width:100%;
}

.linking-code > .code > input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #888;
  border-radius: 4px;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}

.form .buttons {
  display: flex;
  gap: 8px;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  button {
    padding: 20px 5px;
    min-width: 150px;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;

    @media (max-width: 768px) {
      padding: 10px 5px;
      font-size: 16px;
    }
  }

  :nth-child(1) {
    background-color: var(--clr-primary-20);

    &:hover {
      background-color: var(--clr-focus-light);
    }
  }

  :nth-child(2) {
    color: white;
    background-color: var(--clr-primary-10);

    &:hover {
      background-color: #000;
    }
  }
}
