.carousel-hero-banner {
    position: relative;
    width: 100%;
    height: 600px;

    .slick-list,
    .slick-track {
        height: 100%;
        padding: 0 !important;
        gap: 0 !important;
    }

    .carousel-slide {
        height: 600px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
        }

        .slide-content {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            padding: 2rem;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
            }

        }
    }

    .nav-button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        font-size: 2.5rem;
        padding: 0.8rem 1.2rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        color: #fff;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }

        &.prev {
            left: 20px;
        }

        &.next {
            right: 20px;
        }
    }

    /* Dots */
    .hero-dots {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex !important;
        justify-content: center;

        li {
            margin: 0 5px;

            button {
                padding: 0;
            }
        }

        .dot {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            display: block;
            transition: all 0.3s ease;
        }

        .slick-active .dot {
            background-color: #ff6b6b;
        }
    }
}