.slick-list {
  padding: 10px 0;
}

.slick-track {
  display: flex !important;
  gap: 16px;
}

.slick-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column;
}

.slick-slide > div,
.slick-slide > div > div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
  font-size: 30px;
}

.slick-prev {
  left: -35px;
}
.slick-next {
  right: -35px;
}