.slick-track {
  display: flex !important;
  gap: 16px;
}

//.slick-slide {
//  height: auto !important; /* La slide eredita l'altezza del contenitore flex */
//  display: flex !important; /* Rende il contenuto interno flessibile */
//  flex-direction: column;   /* Opzionale, ma buona prassi */
//}
//
///* Assicura che il div wrapper dentro .slick-slide occupi tutto lo spazio */
//.slick-slide > div {
//  height: 100%;
//  width: 100%; /* Fix per width strani */
//}


.slick-prev:before,
.slick-next:before {
  color: #333;
  font-size: 30px;
}

.slick-prev {
  left: -35px;
}
.slick-next {
  right: -35px;
}