.banner-container {
    min-width: 70%;
    height: 400px;
    background-color: rgba(139, 94, 60, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    background-image: url('../imgs/backpet.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px auto;
    padding: 50px;
    color: var(--clr-primary-10);
}