.banner-container {
    min-width: 70%;
    height: 400px;
    background-color: rgba(139, 94, 60, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    background-image: url('../imgs/backpet.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px auto;
    padding: 50px;
    color: var(--clr-primary-10);

    @media (max-width: 1000px) {
        height: 320px;
        font-size: 18px;
        background-size: 180px auto;
        gap: 30px;
        padding: 35px;
        margin-inline: var(--margin);
    }

    @media (max-width: 768px) {
        margin-inline: var(--margin);
        height: 280px;
        flex-direction: column;
        font-size: 16px;
        background-size: 140px auto;
        gap: 20px;
        padding: 25px;
        box-shadow: 0 0 0 2px var(--clr-primary-40), 0 0 0 4px var(--clr-primary-20);
    }

}