.footer {
  background-color: var(--clr-primary-20);
  color: var(--clr-primary-600);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 100px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    .footer-column {
      flex: 1;
      min-width: 200px;

      h3 {
        color: var(--clr-primary-500);
        margin-bottom: 15px;
        font-size: 18px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 8px;

          a {
            color: var(--clr-primary-40);
            text-decoration: none;
            font-size: 15px;

            &:hover {
                color: var(--clr-primary-40);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid var(--clr-primary-40);
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: var(--clr-primary-40);
  }
}
