.bannerHomepage-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary-40);
    box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
}

.logo-banner {
    max-width: 300px;
}