.bannerHomepage-container {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    background-color: var(--clr-primary-40);
    box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);

}

.logo-banner {
    max-width: 300px;
}