.promo-container {
  padding: 0px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.title{
  margin-top: 90px;
  display: grid;
}

.promo-card {
  background-color: var(--clr-primary-40);
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.promo-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.promo-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.promo-image img {
  width: 100%;
  height: 100%;

}

.promo-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.promo-title {
  font-size: 27px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 8px;
  text-align: center;
}

.promo-description {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  flex-grow: 1;
  text-align: center;
  white-space: pre-wrap;
}
.nome-clinica {
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
  flex-grow: 1;
  text-align: center;
  text-decoration: underline;
}

.star-rating {
  display: flex;
  gap: 5px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}
