.promo-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    justify-items: center;
}

.promo-pet-card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    width: 400px;
}

.promo-pet-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.promo-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.promo-image img {
    width: 100%;
    height: 100%;
    
}

.promo-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.promo-tag {
    background-color: var(--clr-primary-40);
    color: var(--clr-primary-20);
    font-size: 13px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 6px;
    align-self: flex-start;
    margin-bottom: 12px;
}

.promo-title {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.promo-description {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    flex-grow: 1;
}