.page {
  max-width: calc(100% - (var(--margin) * 2));
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.page-container {
  width: 100%;
}


#root {
  position: absolute;
  top: 0;
  width: 100%;
}

.button-primary {
  width: 155px;
  height: 50px;
  border: solid var(--clr-primary-20) 5px;
  border-radius: 10px;
  color: var(--clr-primary-20) !important;
  background-color: var(--clr-primary-40);
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  cursor: pointer;  
  box-shadow: 0 0 0 6px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
  text-decoration: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.register-pet-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 25%;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding-block: 40px;
  align-items: center;
  .button-primary{width:auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 20px;
    label {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 6px;
      color: #333;
    }
    input,
    select {
      padding: 10px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      transition: border-color 0.2s ease;
      font-size: 20px;

      &:focus {
        border-color: var(--clr-primary-20);
        outline: none;
      }
    }

    select {
      height: 50px;
    }
  }

}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #333;
}

.msg-error {
  font-size: 10px !important;
  color: red !important;
}

.veterinario-container {
  padding: 0px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  justify-items: center;
}

.veterinario-card {
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  width: 400px;
  background-color: var(--clr-primary-40);
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
}

.veterinario-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.veterinario-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.veterinario-image img {
  width: 100%;
  height: 100%;

}

.veterinario-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.veterinario-title {
  font-size: 27px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 8px;
  text-align: center;
}

.veterinario-description {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  flex-grow: 1;
  text-align: center;
  white-space: pre-wrap;
}
.nome-clinica {
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
  flex-grow: 1;
  text-align: center;
  text-decoration: underline;
}

.no-vet{
  color: #000000;
  font-size: 30px;
  line-height: 1.5;
  flex-grow: 1;
}

.star-rating {
  display: flex;
  gap: 5px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}


@media (max-width: 768px) {
  .veterinario-container {
    padding: 0;
  }

  .veterinario-card {
    max-width: 90%;
  }
}