.page {
  max-width: calc(100% - (var(--margin) * 2));
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.page-container {
  width: 100%;
  margin-top: 120px;
}


#root {
  position: absolute;
  top: 0;
  width: 100%;
}

.button-primary {
  width: 155px;
  height: 50px;
  border: solid var(--clr-primary-20) 5px;
  border-radius: 10px;
  color: var(--clr-primary-20) !important;
  background-color: var(--clr-primary-40);
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  box-shadow: 0 0 0 3px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  cursor: pointer;  
  box-shadow: 0 0 0 6px var(--clr-primary-40), 0 0 0 6px var(--clr-primary-20);
  text-decoration: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

